$c-primary: #5e72e4;
$c-secondary: #f4f5f7;
$c-default: #525f7f;

$c-success: #2dce89;
$c-info: #11cdef;
$c-warning: #fb6340;
$c-danger: #f5365c;

$c-blue: #5e72e4;
$c-indigo: #5603ad;
$c-purple: #8965e0;
$c-pink: #f3a4b5;
$c-red: #f5365c;
$c-orange: #fb6340;
$c-yellow: #ffd600;
$c-green: #2dce89;
$c-teal: #11cdef;
$c-cyan: #2bffc6;
$c-gray: #8898aa;
$c-gray-dark: #32325d;
$c-lighter: #e9ecef;
$c-light: #adb5bd;
$c-dark: #212529;
$c-white: #fff;
$c-neutral: #fff;
$c-darker: black;
