html,
body,
#root {
  height: 100%;
}

.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
