.notification-container--bottom-center,
.notification-container--center,
.notification-container--top-center {
  left: 50%;
  width: calc(100% - 30px);
  max-width: 512px;
  min-width: unset !important;
  transform: translate(-50%, 0);
}

// .notification__timer {
//   width: 0;
//   height: 0;
//   margin: 0;
// }
